/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
    --white: #E1E1E1;
    --whiteDefault: #FFFFFF;
    --transition5s: all .5s ease-in-out;
    --sixteen: 16px;
    --twenty: 20px;
    --ten: 10px;
    --boldFont: 700;
    --twentyFour: 24px;
    --thirteen: 13px;
    --fiftyPercent: 50%;
    --hundredPercent: 100%;
    --tooltipPadding: 10px 5px 10px 20px;
    --textShadow: 0 0 0.7px #090909;
    --graphHover: rgba(0, 0, 0, 0.4);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0.7);
    }

    30% {
        transform: scale(1);
        box-shadow: 0 0 0 var(--ten) rgba(224, 31, 61, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0)
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.mobile,
span {
    display: block;
}

.desk {
    display: none;
}

.scrollable_wrapper {
    scrollbar-width: thin; /* for Firefox */
}

::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-track:hover {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: var(--sixteen);
    border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.23);
    border: 2px solid grey;
}

.info_wrapper {
    display: grid;
    grid-template-rows: auto 374px;
    height: 366px;
    position: relative;
    overflow: hidden;
    grid-gap: 0;
    grid-template-columns: unset;
}

.general_info {
    padding: var(--sixteen) var(--twentyFour);
}

.cro_elections h1,
.live {
    display: flex;
}

#election_results .party_result_wrapper {
    flex: 1 1 0px;
    width: 0;
    max-width: 400px;
    text-align-last: start;
    flex-direction: column-reverse;
    display: flex;
    min-width: 79px;
}

#election_results {
    display: flex;
    flex: 1;
    gap: var(--twentyFour);
}

.live {
    align-items: center;
    visibility: visible;
}

.live div:nth-child(2) {
    font-weight: var(--boldFont);
    font-size: var(--thirteen);
    width: min-content;
    line-height: 13px;
}

.cro_elections {
    min-height: auto;
    min-width: 300px;
    background-color: #F3F8FF;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #090909;
}

h1 .text {
    align-self: center;
}

h1 .year {
    align-self: center;
    padding-right: var(--ten);
    font-size: 40px;
}

h1 .text span:nth-child(1) {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.3px;
}

h1 .text span:nth-child(2) {
    font-size: var(--twenty);
    font-weight: var(--boldFont);
    letter-spacing: 2px;
}

.party {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 15px;
    transition: all .1s ease-in-out;
    margin-top: 6px;
    text-align: start;
    margin-right: 0;
    width: auto;
    height: 30px;
    min-height: 30px;
    font-size: var(--sixteen);
}

#processed_votes {
    font-size: var(--thirteen);
    line-height: 15px;
    font-weight: var(--boldFont);
}

#last_change {
    font-size: 12px;
    line-height: var(--thirteen);
    font-weight: 400;
}

.api {
    font-size: var(--ten);
    line-height: 11px;
    letter-spacing: 0;
    margin-top: var(--thirteen);
    font-weight: 300;
}

.mobile.api {
    text-align: center;
    background-color: var(--white);
    line-height: var(--twentyFour);
    margin: 5px 0 0;
}

#processed_votes_and_last_change {
    position: absolute;
    top: 322px;
    right: var(--twentyFour);
}

.live_blob {
    position: absolute;
    top: 323px;
    left: 15px;
}

.blob {
    background: #E01F3D;
    border-radius: var(--fiftyPercent);
    margin: 0 10px 10px;
    height: var(--thirteen);
    width: var(--thirteen);
    box-shadow: 0 0 0 0 rgba(224, 31, 61, 1);
    transform: scale(1);
    animation: pulse 3s infinite;
}

.party_result_wrapper {
    position: relative;
}

.party_result_wrapper:hover .tooltip_wrapper {
    animation: fadeInFromNone .4s ease-in-out;
    visibility: visible;
}

.party_result_wrapper:hover .party {
    text-shadow: var(--textShadow);
}

.party_result_wrapper:hover .graph {
    background-color: var(--graphHover) !important;
    filter: brightness(75%);
}

.graph_wrapper {
    display: flex;
    flex-grow: 1;

    flex-direction: column-reverse;
    max-height: 105px;
}

.graph {
    transition: var(--transition5s);
    height: 0;
    width: auto;
}

.graph_wrapper + p {
    position: absolute;
    transition: var(--transition5s);
    font-size: var(--twentyFour);
    line-height: var(--twentyFour);
    bottom: 32px;
    text-align: left;
    text-wrap: nowrap;
    width: var(--hundredPercent);
    overflow: hidden;
}

.graph_wrapper + p span:first-child {
    font-size: 12px;
    line-height: var(--thirteen);
    display: inline-block;
    margin-left: 3px;
}

.graph_wrapper + p span:nth-child(2) {
    font-size: var(--ten);
    font-weight: 300;
    line-height: 11px;
    margin-left: 1px;
}

.tooltip_wrapper {
    position: absolute;
    top: -22px;
    padding: var(--tooltipPadding);
    background-color: transparent;
    border-radius: var(--thirteen);
    overflow: hidden;
    z-index: 1;
    top: -6px;
    left: calc(100% - 15px);
    visibility: hidden;
}

.details {
    display: flex;
    flex-direction: column;
    max-height: 195px;
    padding: 0 0 5px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 40px;
}

.tooltip {
    font-size: 12px;
    line-height: var(--thirteen);
    width: 201px;
    padding: 12px var(--twenty);
    background-color: var(--whiteDefault);
    border-radius: var(--thirteen);
    filter: drop-shadow(0px 3px 4px rgba(0, 36, 127, 0.13));
    text-align: start;
    height: 165px;
}

.tooltip .table_wrapper {
    height: 140px;
    overflow: auto;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 150px;
    right: 201px;
    margin-top: -58px;
    border-width: var(--thirteen);
    border-style: solid;
    border-color: transparent var(--whiteDefault) transparent transparent;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 87px;
    margin-top: -58px;
    border-width: var(--thirteen);
    border-style: solid;
    display: none;
    left: 201px;
    border-color: transparent transparent transparent var(--whiteDefault);
    top: 150px;
}

.tooltip td,
.tooltip th {
    padding: 2px 5px;
    border-bottom: 1px solid rgba(0, 36, 127, 0.1);
}

.tooltip tr:last-child td {
    border: none;
}

.tooltip td:nth-child(1),
.tooltip th:nth-child(1) {
    text-align-last: end;
    align-content: baseline;
}

.tooltip td:nth-child(2) {
    text-align: left;
}

.tooltip tr:nth-child(1) th {
    padding-bottom: 10px;
}

.hide_after::after {
    display: none;
}

.display_before::before {
    display: block;
}

.display_before_safari::before {
    display: block;
    left: 206px;
}

.tooltip.after_safari::after {
    right: 91%;
}

.loader_wrapper {
    background-color: var(--white);
    width: var(--hundredPercent);
    height: var(--hundredPercent);
    position: absolute;
    top: 0;
    display: block;
    z-index: 3;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: var(--fiftyPercent);
    display: inline-block;
    border-top: 4px solid var(--whiteDefault);
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 40%;
    right: 47.5%;
}

.loader::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: var(--fiftyPercent);
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

.eu_flag {
    position: absolute;
    right: var(--twentyFour);
    top: 19px;
}

.left_shadow,
.right_shadow {
    position: absolute;
    top: 80px;
    width: var(--twentyFour);
    height: 235px;
    z-index: 2;
}

.left_shadow {
    left: 0;
    background-image: linear-gradient(to left, transparent 0%, #F3F8FF 70%);
}

.right_shadow {
    right: 0;
    background-image: linear-gradient(to right, transparent 0%, #F3F8FF 70%);
}

.first_empty {
    min-width: 0;
}

.last_empty {
    min-width: 1px;
}

.vertical_scrollbox {
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
        linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

@media screen and (min-width: 370px) {
    .live div:nth-child(2) {
        font-size: var(--sixteen);
        width: unset;
        line-height: unset;
    }

    .live_blob {
        top: 325px;
    }

    .blob {
        margin: var(--ten);
    }
}

@media screen and (min-width: 900px) {
    .mobile {
        display: none;
    }

    .desk {
        display: block;
    }

    .info_wrapper {
        height: 250px;
        padding: var(--sixteen) var(--twentyFour);
    }

    .general_info {
        padding: 0;
    }

    .eu_flag {
        position: unset;
        margin: 25px 27px;
        width: 76px;
        height: 76px;
    }

    h1 .year {
        font-size: 34px;
    }

    h1 .text {
        display: flex;
        flex-direction: column;
    }

    h1 .text span:nth-child(1) {
        font-size: 12px;
        letter-spacing: 1.5px;
    }
    
    h1 .text span:nth-child(2) {
        font-size: 18px;
        font-weight: var(--boldFont);
        letter-spacing: 2px;
    }

    .details {
        margin: -190px 0 0 231px;
        max-height: 190px;
        overflow: unset;
        padding: 0;
    }

    .details div:nth-child(1) {
        text-align: end;
    }

    .details div.tooltip {
        height: 176px;
    }

    #election_results {
        gap: 2%;
        min-width: unset;
    }

    #election_results .party_result_wrapper {
        min-width: unset;
    }

    #processed_votes_and_last_change {
        position: relative;
        top: unset;
        right: unset;
    }

    .live_blob {
        top: 11px;
        right: var(--twentyFour);
        left: unset;
    }

    .tooltip_wrapper {
        top: -2px;
    }

    .tooltip .table_wrapper {
        height: 150px;
    }
}
